<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AT&amp;T</key>
	<integer>0</integer>
	<key>Antipodes</key>
	<integer>0</integer>
	<key>Apollo</key>
	<integer>0</integer>
	<key>Aristotelian</key>
	<integer>0</integer>
	<key>Aristotle</key>
	<integer>0</integer>
	<key>Athelney</key>
	<integer>0</integer>
	<key>Baltic</key>
	<integer>0</integer>
	<key>California</key>
	<integer>0</integer>
	<key>Chippenham</key>
	<integer>0</integer>
	<key>Dane</key>
	<integer>1</integer>
	<key>Danish</key>
	<integer>3</integer>
	<key>Indian</key>
	<integer>3</integer>
	<key>Indonesia</key>
	<integer>0</integer>
	<key>Inquisition</key>
	<integer>0</integer>
	<key>Kansas</key>
	<integer>0</integer>
	<key>Las Vegas</key>
	<integer>0</integer>
	<key>Leaning Tower Pisa</key>
	<integer>0</integer>
	<key>Macintosh</key>
	<integer>0</integer>
	<key>Matterhorn</key>
	<integer>0</integer>
	<key>Mercury</key>
	<integer>1</integer>
	<key>Missouri</key>
	<integer>0</integer>
	<key>Morocco</key>
	<integer>0</integer>
	<key>New Jersey</key>
	<integer>0</integer>
	<key>Norfolk Broads</key>
	<integer>0</integer>
	<key>Polynesian</key>
	<integer>0</integer>
	<key>Ptolemy</key>
	<integer>0</integer>
	<key>Siberian</key>
	<integer>0</integer>
	<key>St.Petersburg</key>
	<integer>0</integer>
	<key>Stockholm</key>
	<integer>0</integer>
	<key>abandon</key>
	<integer>3</integer>
	<key>abatement</key>
	<integer>0</integer>
	<key>aberrant</key>
	<integer>0</integer>
	<key>abject</key>
	<integer>1</integer>
	<key>ablaze</key>
	<integer>1</integer>
	<key>absorbing</key>
	<integer>1</integer>
	<key>absurd</key>
	<integer>2</integer>
	<key>absurdly</key>
	<integer>0</integer>
	<key>accelerate</key>
	<integer>2</integer>
	<key>accommodation</key>
	<integer>2</integer>
	<key>accompaniment</key>
	<integer>1</integer>
	<key>accord</key>
	<integer>5</integer>
	<key>account</key>
	<integer>5</integer>
	<key>acidic</key>
	<integer>1</integer>
	<key>acre</key>
	<integer>3</integer>
	<key>acrobatic</key>
	<integer>0</integer>
	<key>actuality</key>
	<integer>1</integer>
	<key>administer</key>
	<integer>2</integer>
	<key>administrative</key>
	<integer>2</integer>
	<key>adolescence</key>
	<integer>1</integer>
	<key>adolescent</key>
	<integer>2</integer>
	<key>adopt</key>
	<integer>4</integer>
	<key>adverse</key>
	<integer>2</integer>
	<key>aesthetic</key>
	<integer>2</integer>
	<key>affluent</key>
	<integer>1</integer>
	<key>afresh</key>
	<integer>0</integer>
	<key>ageing</key>
	<integer>2</integer>
	<key>agent</key>
	<integer>4</integer>
	<key>aggravate</key>
	<integer>1</integer>
	<key>alarming</key>
	<integer>2</integer>
	<key>albatross</key>
	<integer>0</integer>
	<key>alcohol</key>
	<integer>3</integer>
	<key>alien</key>
	<integer>2</integer>
	<key>alienate</key>
	<integer>2</integer>
	<key>allegation</key>
	<integer>3</integer>
	<key>alongside</key>
	<integer>3</integer>
	<key>alpine</key>
	<integer>1</integer>
	<key>alpinist</key>
	<integer>0</integer>
	<key>analogous</key>
	<integer>0</integer>
	<key>analysis</key>
	<integer>3</integer>
	<key>anarchy</key>
	<integer>1</integer>
	<key>ancestor</key>
	<integer>2</integer>
	<key>anecdote</key>
	<integer>1</integer>
	<key>anthropologist</key>
	<integer>0</integer>
	<key>apparatus</key>
	<integer>1</integer>
	<key>appetite</key>
	<integer>2</integer>
	<key>appreciation</key>
	<integer>2</integer>
	<key>aquaplane</key>
	<integer>0</integer>
	<key>archaeologist</key>
	<integer>0</integer>
	<key>arena</key>
	<integer>2</integer>
	<key>armament</key>
	<integer>1</integer>
	<key>arsenic</key>
	<integer>0</integer>
	<key>artificial</key>
	<integer>2</integer>
	<key>ashore</key>
	<integer>1</integer>
	<key>assail</key>
	<integer>1</integer>
	<key>assemble</key>
	<integer>2</integer>
	<key>assign</key>
	<integer>2</integer>
	<key>assumption</key>
	<integer>3</integer>
	<key>astronomical</key>
	<integer>1</integer>
	<key>attain</key>
	<integer>1</integer>
	<key>auditory</key>
	<integer>0</integer>
	<key>authoritarian</key>
	<integer>1</integer>
	<key>avenge</key>
	<integer>1</integer>
	<key>backward</key>
	<integer>2</integer>
	<key>bactericidal</key>
	<integer>0</integer>
	<key>ballad</key>
	<integer>1</integer>
	<key>ballast</key>
	<integer>1</integer>
	<key>banal</key>
	<integer>1</integer>
	<key>banish</key>
	<integer>1</integer>
	<key>bat</key>
	<integer>3</integer>
	<key>beast</key>
	<integer>2</integer>
	<key>beaver</key>
	<integer>1</integer>
	<key>behaviour</key>
	<integer>4</integer>
	<key>belly</key>
	<integer>2</integer>
	<key>bequeath</key>
	<integer>1</integer>
	<key>bewilder</key>
	<integer>0</integer>
	<key>blandishment</key>
	<integer>0</integer>
	<key>blindfold</key>
	<integer>1</integer>
	<key>blizzard</key>
	<integer>1</integer>
	<key>block and tackle</key>
	<integer>0</integer>
	<key>bluebottle</key>
	<integer>0</integer>
	<key>blur</key>
	<integer>2</integer>
	<key>boast</key>
	<integer>2</integer>
	<key>bogged</key>
	<integer>0</integer>
	<key>boo</key>
	<integer>1</integer>
	<key>boredom</key>
	<integer>1</integer>
	<key>boring</key>
	<integer>2</integer>
	<key>broker</key>
	<integer>3</integer>
	<key>bronze</key>
	<integer>2</integer>
	<key>bud</key>
	<integer>2</integer>
	<key>bulrush</key>
	<integer>0</integer>
	<key>burrow</key>
	<integer>1</integer>
	<key>butt</key>
	<integer>1</integer>
	<key>cactus</key>
	<integer>1</integer>
	<key>calf</key>
	<integer>1</integer>
	<key>cannon</key>
	<integer>2</integer>
	<key>canyon</key>
	<integer>1</integer>
	<key>capacity</key>
	<integer>3</integer>
	<key>caprice</key>
	<integer>0</integer>
	<key>caption</key>
	<integer>4</integer>
	<key>carbonated</key>
	<integer>0</integer>
	<key>carnivore</key>
	<integer>0</integer>
	<key>carrier</key>
	<integer>3</integer>
	<key>carrot</key>
	<integer>2</integer>
	<key>cascade</key>
	<integer>1</integer>
	<key>cash</key>
	<integer>4</integer>
	<key>casual</key>
	<integer>2</integer>
	<key>catastrophic</key>
	<integer>1</integer>
	<key>cater</key>
	<integer>2</integer>
	<key>ceaselessly</key>
	<integer>0</integer>
	<key>census</key>
	<integer>2</integer>
	<key>chambermaid</key>
	<integer>0</integer>
	<key>chant</key>
	<integer>2</integer>
	<key>chasm</key>
	<integer>1</integer>
	<key>cheat</key>
	<integer>2</integer>
	<key>checker</key>
	<integer>0</integer>
	<key>cheque</key>
	<integer>2</integer>
	<key>cherub</key>
	<integer>0</integer>
	<key>chicanery</key>
	<integer>0</integer>
	<key>chip</key>
	<integer>3</integer>
	<key>churn</key>
	<integer>1</integer>
	<key>circuit</key>
	<integer>3</integer>
	<key>circulate</key>
	<integer>2</integer>
	<key>civilized</key>
	<integer>1</integer>
	<key>clash</key>
	<integer>3</integer>
	<key>clatter</key>
	<integer>1</integer>
	<key>cliche</key>
	<integer>1</integer>
	<key>cm</key>
	<integer>2</integer>
	<key>coarse</key>
	<integer>2</integer>
	<key>cobra</key>
	<integer>0</integer>
	<key>cod</key>
	<integer>1</integer>
	<key>code</key>
	<integer>3</integer>
	<key>colour-blind</key>
	<integer>0</integer>
	<key>combative</key>
	<integer>1</integer>
	<key>commissary</key>
	<integer>0</integer>
	<key>commission</key>
	<integer>4</integer>
	<key>commitment</key>
	<integer>4</integer>
	<key>commonplace</key>
	<integer>1</integer>
	<key>communicate</key>
	<integer>3</integer>
	<key>competitive</key>
	<integer>3</integer>
	<key>complication</key>
	<integer>2</integer>
	<key>compound</key>
	<integer>2</integer>
	<key>comprehend</key>
	<integer>1</integer>
	<key>compulsory</key>
	<integer>2</integer>
	<key>conceited</key>
	<integer>0</integer>
	<key>conceive</key>
	<integer>2</integer>
	<key>concoct</key>
	<integer>1</integer>
	<key>confess</key>
	<integer>2</integer>
	<key>confine</key>
	<integer>2</integer>
	<key>conqueror</key>
	<integer>1</integer>
	<key>consideration</key>
	<integer>3</integer>
	<key>constitute</key>
	<integer>2</integer>
	<key>contamination</key>
	<integer>0</integer>
	<key>content</key>
	<integer>0</integer>
	<key>contest</key>
	<integer>3</integer>
	<key>contrivance</key>
	<integer>0</integer>
	<key>controversial</key>
	<integer>3</integer>
	<key>controversy</key>
	<integer>3</integer>
	<key>conversion</key>
	<integer>2</integer>
	<key>convertible</key>
	<integer>2</integer>
	<key>convulsive</key>
	<integer>0</integer>
	<key>coring bit</key>
	<integer>0</integer>
	<key>correspondingly</key>
	<integer>0</integer>
	<key>cosmic</key>
	<integer>1</integer>
	<key>cosmopolitan</key>
	<integer>1</integer>
	<key>counteract</key>
	<integer>1</integer>
	<key>court</key>
	<integer>0</integer>
	<key>cow</key>
	<integer>3</integer>
	<key>crack</key>
	<integer>0</integer>
	<key>creditor</key>
	<integer>2</integer>
	<key>crest</key>
	<integer>1</integer>
	<key>crevasse</key>
	<integer>0</integer>
	<key>cricket</key>
	<integer>3</integer>
	<key>crust</key>
	<integer>1</integer>
	<key>culpable</key>
	<integer>0</integer>
	<key>curative</key>
	<integer>0</integer>
	<key>curl</key>
	<integer>2</integer>
	<key>current</key>
	<integer>5</integer>
	<key>cushion</key>
	<integer>2</integer>
	<key>customize</key>
	<integer>1</integer>
	<key>cutting bit</key>
	<integer>0</integer>
	<key>cylinder</key>
	<integer>2</integer>
	<key>cynic</key>
	<integer>1</integer>
	<key>debit</key>
	<integer>1</integer>
	<key>debtor</key>
	<integer>1</integer>
	<key>decompose</key>
	<integer>1</integer>
	<key>deduce</key>
	<integer>1</integer>
	<key>deem</key>
	<integer>2</integer>
	<key>defendant</key>
	<integer>2</integer>
	<key>defy</key>
	<integer>2</integer>
	<key>delicate</key>
	<integer>2</integer>
	<key>delinquency</key>
	<integer>0</integer>
	<key>democratic</key>
	<integer>4</integer>
	<key>demon</key>
	<integer>1</integer>
	<key>deprive</key>
	<integer>2</integer>
	<key>derrick</key>
	<integer>0</integer>
	<key>descendant</key>
	<integer>1</integer>
	<key>despise</key>
	<integer>1</integer>
	<key>deteriorate</key>
	<integer>2</integer>
	<key>devastation</key>
	<integer>1</integer>
	<key>deviation</key>
	<integer>1</integer>
	<key>device</key>
	<integer>3</integer>
	<key>devotion</key>
	<integer>1</integer>
	<key>diagnosis</key>
	<integer>2</integer>
	<key>dialysis</key>
	<integer>0</integer>
	<key>digestive</key>
	<integer>1</integer>
	<key>dimension</key>
	<integer>2</integer>
	<key>discern</key>
	<integer>1</integer>
	<key>discredit</key>
	<integer>2</integer>
	<key>disgrace</key>
	<integer>1</integer>
	<key>disgusting</key>
	<integer>1</integer>
	<key>disillusionment</key>
	<integer>1</integer>
	<key>disinfectant</key>
	<integer>0</integer>
	<key>disinherit</key>
	<integer>0</integer>
	<key>disloyalty</key>
	<integer>0</integer>
	<key>disorder</key>
	<integer>2</integer>
	<key>dispute</key>
	<integer>4</integer>
	<key>distort</key>
	<integer>2</integer>
	<key>disunited</key>
	<integer>0</integer>
	<key>dividend</key>
	<integer>3</integer>
	<key>dolphin</key>
	<integer>2</integer>
	<key>domesticate</key>
	<integer>1</integer>
	<key>drainage</key>
	<integer>1</integer>
	<key>dreary</key>
	<integer>1</integer>
	<key>dredge</key>
	<integer>1</integer>
	<key>drifting</key>
	<integer>0</integer>
	<key>drove</key>
	<integer>0</integer>
	<key>drum</key>
	<integer>3</integer>
	<key>dune</key>
	<integer>1</integer>
	<key>dust</key>
	<integer>3</integer>
	<key>dust devil</key>
	<integer>0</integer>
	<key>earthquake</key>
	<integer>2</integer>
	<key>eddy</key>
	<integer>0</integer>
	<key>edifice</key>
	<integer>1</integer>
	<key>effectiveness</key>
	<integer>0</integer>
	<key>ego</key>
	<integer>2</integer>
	<key>elapse</key>
	<integer>1</integer>
	<key>electrocute</key>
	<integer>0</integer>
	<key>electrode</key>
	<integer>1</integer>
	<key>electroencephalograph</key>
	<integer>0</integer>
	<key>eliminate</key>
	<integer>3</integer>
	<key>emission</key>
	<integer>2</integer>
	<key>encounter</key>
	<integer>3</integer>
	<key>encroaching</key>
	<integer>0</integer>
	<key>endearing</key>
	<integer>1</integer>
	<key>endow</key>
	<integer>1</integer>
	<key>energize</key>
	<integer>1</integer>
	<key>enhance</key>
	<integer>3</integer>
	<key>ensue</key>
	<integer>1</integer>
	<key>entail</key>
	<integer>1</integer>
	<key>enterprising</key>
	<integer>1</integer>
	<key>envision</key>
	<integer>1</integer>
	<key>epic</key>
	<integer>2</integer>
	<key>epidemic</key>
	<integer>2</integer>
	<key>episode</key>
	<integer>2</integer>
	<key>epithet</key>
	<integer>0</integer>
	<key>equilibrium</key>
	<integer>1</integer>
	<key>erode</key>
	<integer>2</integer>
	<key>espionage</key>
	<integer>1</integer>
	<key>eternal</key>
	<integer>2</integer>
	<key>ethanol</key>
	<integer>0</integer>
	<key>evaluation</key>
	<integer>0</integer>
	<key>exclusively</key>
	<integer>2</integer>
	<key>expedition</key>
	<integer>2</integer>
	<key>exquisite</key>
	<integer>2</integer>
	<key>exterminate</key>
	<integer>1</integer>
	<key>facilitate</key>
	<integer>1</integer>
	<key>familiarity</key>
	<integer>0</integer>
	<key>fascination</key>
	<integer>1</integer>
	<key>fathom</key>
	<integer>1</integer>
	<key>fatuous</key>
	<integer>0</integer>
	<key>ferment</key>
	<integer>1</integer>
	<key>fervently</key>
	<integer>0</integer>
	<key>fierce</key>
	<integer>3</integer>
	<key>finance</key>
	<integer>4</integer>
	<key>fit</key>
	<integer>0</integer>
	<key>flagship</key>
	<integer>1</integer>
	<key>flea-ridden</key>
	<integer>0</integer>
	<key>flint</key>
	<integer>0</integer>
	<key>flirt</key>
	<integer>1</integer>
	<key>fluctuation</key>
	<integer>0</integer>
	<key>forecast</key>
	<integer>3</integer>
	<key>forefathers</key>
	<integer>0</integer>
	<key>foreman</key>
	<integer>1</integer>
	<key>forge</key>
	<integer>2</integer>
	<key>forgery</key>
	<integer>1</integer>
	<key>formation</key>
	<integer>2</integer>
	<key>fossil man</key>
	<integer>0</integer>
	<key>framed</key>
	<integer>0</integer>
	<key>frantically</key>
	<integer>0</integer>
	<key>freshen</key>
	<integer>0</integer>
	<key>friction</key>
	<integer>1</integer>
	<key>fritter</key>
	<integer>0</integer>
	<key>futile</key>
	<integer>1</integer>
	<key>gale</key>
	<integer>1</integer>
	<key>galleon</key>
	<integer>0</integer>
	<key>generalize</key>
	<integer>1</integer>
	<key>geologist</key>
	<integer>0</integer>
	<key>gifted</key>
	<integer>1</integer>
	<key>gilt</key>
	<integer>2</integer>
	<key>glider</key>
	<integer>1</integer>
	<key>glorious</key>
	<integer>2</integer>
	<key>goodwill</key>
	<integer>2</integer>
	<key>grace</key>
	<integer>2</integer>
	<key>graph</key>
	<integer>1</integer>
	<key>graphic</key>
	<integer>2</integer>
	<key>gratify</key>
	<integer>1</integer>
	<key>gravitational</key>
	<integer>1</integer>
	<key>grid</key>
	<integer>1</integer>
	<key>grimly</key>
	<integer>0</integer>
	<key>grip</key>
	<integer>3</integer>
	<key>grudge</key>
	<integer>1</integer>
	<key>gusher</key>
	<integer>0</integer>
	<key>haemolytic</key>
	<integer>0</integer>
	<key>hammer out</key>
	<integer>2</integer>
	<key>hamper</key>
	<integer>2</integer>
	<key>harness</key>
	<integer>1</integer>
	<key>harp</key>
	<integer>1</integer>
	<key>harry</key>
	<integer>1</integer>
	<key>haul</key>
	<integer>2</integer>
	<key>heady</key>
	<integer>1</integer>
	<key>heath</key>
	<integer>1</integer>
	<key>heave</key>
	<integer>1</integer>
	<key>heretic</key>
	<integer>0</integer>
	<key>herring</key>
	<integer>1</integer>
	<key>hierarchy</key>
	<integer>2</integer>
	<key>horizontal</key>
	<integer>1</integer>
	<key>hover-train</key>
	<integer>0</integer>
	<key>hovercraft</key>
	<integer>0</integer>
	<key>hub</key>
	<integer>1</integer>
	<key>hull</key>
	<integer>2</integer>
	<key>humanity</key>
	<integer>2</integer>
	<key>humidity</key>
	<integer>1</integer>
	<key>hurricane</key>
	<integer>2</integer>
	<key>hydrogen</key>
	<integer>2</integer>
	<key>hypocrisy</key>
	<integer>1</integer>
	<key>hypothesis</key>
	<integer>1</integer>
	<key>identity</key>
	<integer>3</integer>
	<key>ignoble</key>
	<integer>0</integer>
	<key>illiterate</key>
	<integer>1</integer>
	<key>illumination</key>
	<integer>1</integer>
	<key>immolation</key>
	<integer>0</integer>
	<key>impending</key>
	<integer>1</integer>
	<key>imperceptible</key>
	<integer>0</integer>
	<key>imperial</key>
	<integer>2</integer>
	<key>impersonal</key>
	<integer>1</integer>
	<key>implication</key>
	<integer>3</integer>
	<key>impose</key>
	<integer>4</integer>
	<key>impoverish</key>
	<integer>1</integer>
	<key>improvise</key>
	<integer>1</integer>
	<key>inaccessible</key>
	<integer>1</integer>
	<key>inadequate</key>
	<integer>2</integer>
	<key>incidentally</key>
	<integer>2</integer>
	<key>inclement</key>
	<integer>0</integer>
	<key>inclination</key>
	<integer>1</integer>
	<key>inconvenience</key>
	<integer>1</integer>
	<key>increasingly</key>
	<integer>4</integer>
	<key>incumbent</key>
	<integer>2</integer>
	<key>incur</key>
	<integer>2</integer>
	<key>indefinable</key>
	<integer>0</integer>
	<key>indescribable</key>
	<integer>0</integer>
	<key>indifferently</key>
	<integer>0</integer>
	<key>indignity</key>
	<integer>1</integer>
	<key>indisposition</key>
	<integer>0</integer>
	<key>infallibility</key>
	<integer>0</integer>
	<key>infant</key>
	<integer>2</integer>
	<key>infect</key>
	<integer>3</integer>
	<key>infinity</key>
	<integer>1</integer>
	<key>initiative</key>
	<integer>3</integer>
	<key>inmost</key>
	<integer>0</integer>
	<key>innovator</key>
	<integer>1</integer>
	<key>inquiry</key>
	<integer>3</integer>
	<key>inrush</key>
	<integer>0</integer>
	<key>insinuate</key>
	<integer>0</integer>
	<key>inspiration</key>
	<integer>2</integer>
	<key>insularity</key>
	<integer>0</integer>
	<key>integrated</key>
	<integer>0</integer>
	<key>intense</key>
	<integer>3</integer>
	<key>interminably</key>
	<integer>0</integer>
	<key>intermittent</key>
	<integer>1</integer>
	<key>interstellar</key>
	<integer>0</integer>
	<key>interval</key>
	<integer>2</integer>
	<key>interweave</key>
	<integer>1</integer>
	<key>intimate</key>
	<integer>2</integer>
	<key>intimation</key>
	<integer>0</integer>
	<key>intrigue</key>
	<integer>1</integer>
	<key>invest</key>
	<integer>3</integer>
	<key>ironically</key>
	<integer>2</integer>
	<key>itinerant</key>
	<integer>0</integer>
	<key>jerky</key>
	<integer>1</integer>
	<key>justifiably</key>
	<integer>0</integer>
	<key>justification</key>
	<integer>2</integer>
	<key>juvenile</key>
	<integer>2</integer>
	<key>kashmir</key>
	<integer>0</integer>
	<key>keep</key>
	<integer>5</integer>
	<key>ladybird</key>
	<integer>0</integer>
	<key>lark</key>
	<integer>1</integer>
	<key>lash</key>
	<integer>2</integer>
	<key>latitude</key>
	<integer>1</integer>
	<key>leakage</key>
	<integer>0</integer>
	<key>leave</key>
	<integer>5</integer>
	<key>legend</key>
	<integer>2</integer>
	<key>legibly</key>
	<integer>0</integer>
	<key>like</key>
	<integer>0</integer>
	<key>likelihood</key>
	<integer>2</integer>
	<key>linen</key>
	<integer>2</integer>
	<key>list</key>
	<integer>5</integer>
	<key>literally</key>
	<integer>2</integer>
	<key>lizard</key>
	<integer>1</integer>
	<key>longitudinal</key>
	<integer>0</integer>
	<key>loom</key>
	<integer>2</integer>
	<key>lotto</key>
	<integer>0</integer>
	<key>lunar</key>
	<integer>1</integer>
	<key>luxury</key>
	<integer>3</integer>
	<key>magnitude</key>
	<integer>1</integer>
	<key>mahout</key>
	<integer>0</integer>
	<key>majestic</key>
	<integer>1</integer>
	<key>mamba</key>
	<integer>0</integer>
	<key>manifest</key>
	<integer>2</integer>
	<key>manoeuvre</key>
	<integer>2</integer>
	<key>mariner</key>
	<integer>1</integer>
	<key>maturity</key>
	<integer>2</integer>
	<key>maximum</key>
	<integer>3</integer>
	<key>mean</key>
	<integer>0</integer>
	<key>means</key>
	<integer>4</integer>
	<key>megacycle</key>
	<integer>0</integer>
	<key>memory-chip</key>
	<integer>0</integer>
	<key>mermaid</key>
	<integer>1</integer>
	<key>meteorologist</key>
	<integer>0</integer>
	<key>methylated</key>
	<integer>0</integer>
	<key>might</key>
	<integer>0</integer>
	<key>migration</key>
	<integer>0</integer>
	<key>mimic warfare</key>
	<integer>0</integer>
	<key>mineral</key>
	<integer>2</integer>
	<key>minstrel</key>
	<integer>1</integer>
	<key>monstrous</key>
	<integer>1</integer>
	<key>moot</key>
	<integer>1</integer>
	<key>morality</key>
	<integer>2</integer>
	<key>mortgage</key>
	<integer>4</integer>
	<key>mosquito</key>
	<integer>1</integer>
	<key>mount</key>
	<integer>3</integer>
	<key>multiply</key>
	<integer>2</integer>
	<key>municipality</key>
	<integer>1</integer>
	<key>mushroom</key>
	<integer>2</integer>
	<key>muzzle</key>
	<integer>1</integer>
	<key>myriad</key>
	<integer>1</integer>
	<key>mythology</key>
	<integer>0</integer>
	<key>myxomatosis</key>
	<integer>0</integer>
	<key>navigation</key>
	<integer>1</integer>
	<key>nebula</key>
	<integer>0</integer>
	<key>negligible</key>
	<integer>1</integer>
	<key>neurotoxic</key>
	<integer>0</integer>
	<key>newsletter</key>
	<integer>1</integer>
	<key>ninepin</key>
	<integer>0</integer>
	<key>nuclear</key>
	<integer>4</integer>
	<key>obligation</key>
	<integer>2</integer>
	<key>obstruction</key>
	<integer>1</integer>
	<key>oceanarium</key>
	<integer>0</integer>
	<key>odd</key>
	<integer>4</integer>
	<key>odds</key>
	<integer>2</integer>
	<key>ointment</key>
	<integer>1</integer>
	<key>omen</key>
	<integer>1</integer>
	<key>opaque</key>
	<integer>1</integer>
	<key>oppress</key>
	<integer>0</integer>
	<key>ordnance</key>
	<integer>1</integer>
	<key>organism</key>
	<integer>2</integer>
	<key>orgy</key>
	<integer>1</integer>
	<key>oriental</key>
	<integer>2</integer>
	<key>original</key>
	<integer>4</integer>
	<key>ornament</key>
	<integer>1</integer>
	<key>orphanage</key>
	<integer>1</integer>
	<key>outlaw</key>
	<integer>2</integer>
	<key>outlook</key>
	<integer>2</integer>
	<key>overheads</key>
	<integer>1</integer>
	<key>overrun</key>
	<integer>1</integer>
	<key>overwhelmingly</key>
	<integer>0</integer>
	<key>oxygen</key>
	<integer>2</integer>
	<key>package tour</key>
	<integer>0</integer>
	<key>pact</key>
	<integer>3</integer>
	<key>pagan</key>
	<integer>2</integer>
	<key>painlessly</key>
	<integer>0</integer>
	<key>paleontological</key>
	<integer>0</integer>
	<key>paradox</key>
	<integer>1</integer>
	<key>parishioner</key>
	<integer>0</integer>
	<key>particle</key>
	<integer>2</integer>
	<key>partridge</key>
	<integer>0</integer>
	<key>passionately</key>
	<integer>0</integer>
	<key>patent</key>
	<integer>2</integer>
	<key>patriotism</key>
	<integer>1</integer>
	<key>patronage</key>
	<integer>1</integer>
	<key>pedestrian</key>
	<integer>1</integer>
	<key>penalize</key>
	<integer>1</integer>
	<key>penholder</key>
	<integer>0</integer>
	<key>pennant</key>
	<integer>1</integer>
	<key>pension</key>
	<integer>3</integer>
	<key>perception</key>
	<integer>2</integer>
	<key>perilous</key>
	<integer>1</integer>
	<key>permanently</key>
	<integer>0</integer>
	<key>persecute</key>
	<integer>1</integer>
	<key>perspective</key>
	<integer>3</integer>
	<key>pertinent</key>
	<integer>1</integer>
	<key>pest</key>
	<integer>2</integer>
	<key>pestilence</key>
	<integer>0</integer>
	<key>phenomena</key>
	<integer>0</integer>
	<key>physicist</key>
	<integer>2</integer>
	<key>physiological</key>
	<integer>0</integer>
	<key>pine</key>
	<integer>2</integer>
	<key>pioneer</key>
	<integer>2</integer>
	<key>plantation</key>
	<integer>2</integer>
	<key>plausible</key>
	<integer>1</integer>
	<key>plea</key>
	<integer>2</integer>
	<key>plunge</key>
	<integer>3</integer>
	<key>ply</key>
	<integer>1</integer>
	<key>porcupine</key>
	<integer>0</integer>
	<key>porpoise</key>
	<integer>0</integer>
	<key>port</key>
	<integer>3</integer>
	<key>portfolio</key>
	<integer>2</integer>
	<key>portray</key>
	<integer>2</integer>
	<key>positive</key>
	<integer>4</integer>
	<key>potency</key>
	<integer>1</integer>
	<key>potentiality</key>
	<integer>0</integer>
	<key>preacher</key>
	<integer>1</integer>
	<key>precaution</key>
	<integer>2</integer>
	<key>predominant</key>
	<integer>1</integer>
	<key>preferential</key>
	<integer>1</integer>
	<key>preliminary</key>
	<integer>2</integer>
	<key>premise</key>
	<integer>2</integer>
	<key>preponderance</key>
	<integer>0</integer>
	<key>prescribe</key>
	<integer>2</integer>
	<key>preservation</key>
	<integer>0</integer>
	<key>presumptuous</key>
	<integer>0</integer>
	<key>prevailing</key>
	<integer>0</integer>
	<key>prey</key>
	<integer>2</integer>
	<key>princeton</key>
	<integer>0</integer>
	<key>priority</key>
	<integer>3</integer>
	<key>pristine</key>
	<integer>1</integer>
	<key>proceeds</key>
	<integer>0</integer>
	<key>process</key>
	<integer>5</integer>
	<key>prolonged</key>
	<integer>2</integer>
	<key>promiscuous</key>
	<integer>1</integer>
	<key>proposition</key>
	<integer>2</integer>
	<key>propulsion</key>
	<integer>1</integer>
	<key>protagonist</key>
	<integer>1</integer>
	<key>psychiatric</key>
	<integer>2</integer>
	<key>psychiatrist</key>
	<integer>2</integer>
	<key>psychologist</key>
	<integer>2</integer>
	<key>punctuate</key>
	<integer>1</integer>
	<key>purchasable</key>
	<integer>0</integer>
	<key>radiance</key>
	<integer>0</integer>
	<key>radio astronomer</key>
	<integer>0</integer>
	<key>radio frequency</key>
	<integer>0</integer>
	<key>rational</key>
	<integer>2</integer>
	<key>rattlesnake</key>
	<integer>0</integer>
	<key>ray</key>
	<integer>3</integer>
	<key>realm</key>
	<integer>2</integer>
	<key>recede</key>
	<integer>1</integer>
	<key>receipt</key>
	<integer>2</integer>
	<key>recount</key>
	<integer>1</integer>
	<key>recuperation</key>
	<integer>0</integer>
	<key>reinforce</key>
	<integer>2</integer>
	<key>remedy</key>
	<integer>2</integer>
	<key>reminiscence</key>
	<integer>1</integer>
	<key>rendezvous</key>
	<integer>1</integer>
	<key>reputable</key>
	<integer>1</integer>
	<key>resent</key>
	<integer>2</integer>
	<key>resentful</key>
	<integer>1</integer>
	<key>retreat</key>
	<integer>3</integer>
	<key>rhythm</key>
	<integer>3</integer>
	<key>rigid</key>
	<integer>2</integer>
	<key>ring</key>
	<integer>0</integer>
	<key>riot</key>
	<integer>3</integer>
	<key>robust</key>
	<integer>2</integer>
	<key>rot</key>
	<integer>2</integer>
	<key>rotate</key>
	<integer>2</integer>
	<key>rub</key>
	<integer>2</integer>
	<key>rugged</key>
	<integer>1</integer>
	<key>run-down</key>
	<integer>0</integer>
	<key>sabre-toothed</key>
	<integer>0</integer>
	<key>safe</key>
	<integer>4</integer>
	<key>saga</key>
	<integer>1</integer>
	<key>saliva</key>
	<integer>1</integer>
	<key>sanguine</key>
	<integer>1</integer>
	<key>sanitation</key>
	<integer>1</integer>
	<key>satiation</key>
	<integer>0</integer>
	<key>sauerkraut</key>
	<integer>0</integer>
	<key>savage</key>
	<integer>2</integer>
	<key>savannah</key>
	<integer>1</integer>
	<key>scaly</key>
	<integer>0</integer>
	<key>scavenger</key>
	<integer>0</integer>
	<key>scent</key>
	<integer>2</integer>
	<key>sceptical</key>
	<integer>2</integer>
	<key>scratch</key>
	<integer>2</integer>
	<key>secrecy %28title%29</key>
	<integer>0</integer>
	<key>sediment</key>
	<integer>1</integer>
	<key>sedulously</key>
	<integer>0</integer>
	<key>seismometer</key>
	<integer>0</integer>
	<key>senior</key>
	<integer>4</integer>
	<key>sensation</key>
	<integer>2</integer>
	<key>sensor</key>
	<integer>1</integer>
	<key>serenity</key>
	<integer>0</integer>
	<key>settlement</key>
	<integer>4</integer>
	<key>settler</key>
	<integer>2</integer>
	<key>sewage</key>
	<integer>1</integer>
	<key>shark</key>
	<integer>1</integer>
	<key>shatter</key>
	<integer>1</integer>
	<key>shepherd</key>
	<integer>2</integer>
	<key>shoal</key>
	<integer>1</integer>
	<key>shove</key>
	<integer>2</integer>
	<key>shudder</key>
	<integer>1</integer>
	<key>shun</key>
	<integer>1</integer>
	<key>signature</key>
	<integer>2</integer>
	<key>silicon</key>
	<integer>1</integer>
	<key>silt</key>
	<integer>1</integer>
	<key>sincerity</key>
	<integer>0</integer>
	<key>skirmish</key>
	<integer>1</integer>
	<key>skyscraper</key>
	<integer>1</integer>
	<key>slack</key>
	<integer>1</integer>
	<key>slander</key>
	<integer>1</integer>
	<key>slaughter</key>
	<integer>2</integer>
	<key>slip</key>
	<integer>4</integer>
	<key>slipper</key>
	<integer>1</integer>
	<key>slumber</key>
	<integer>0</integer>
	<key>slur</key>
	<integer>1</integer>
	<key>snag</key>
	<integer>1</integer>
	<key>snobbery</key>
	<integer>1</integer>
	<key>snout</key>
	<integer>0</integer>
	<key>social climber</key>
	<integer>0</integer>
	<key>sociologist</key>
	<integer>0</integer>
	<key>solid</key>
	<integer>3</integer>
	<key>solitary</key>
	<integer>1</integer>
	<key>soothe</key>
	<integer>2</integer>
	<key>sophistication</key>
	<integer>1</integer>
	<key>spasm</key>
	<integer>1</integer>
	<key>spatial</key>
	<integer>1</integer>
	<key>spawn</key>
	<integer>1</integer>
	<key>specimen</key>
	<integer>2</integer>
	<key>speculation</key>
	<integer>0</integer>
	<key>speculative</key>
	<integer>1</integer>
	<key>spiral</key>
	<integer>2</integer>
	<key>spiteful</key>
	<integer>0</integer>
	<key>splendid</key>
	<integer>2</integer>
	<key>squadron</key>
	<integer>1</integer>
	<key>squall</key>
	<integer>0</integer>
	<key>squeak</key>
	<integer>1</integer>
	<key>standard</key>
	<integer>4</integer>
	<key>starboard</key>
	<integer>1</integer>
	<key>steep</key>
	<integer>2</integer>
	<key>steepen</key>
	<integer>0</integer>
	<key>stereotype</key>
	<integer>2</integer>
	<key>sterilize</key>
	<integer>1</integer>
	<key>strata</key>
	<integer>0</integer>
	<key>strictly</key>
	<integer>2</integer>
	<key>strychnine</key>
	<integer>0</integer>
	<key>subdue</key>
	<integer>1</integer>
	<key>subservient</key>
	<integer>1</integer>
	<key>suburban</key>
	<integer>2</integer>
	<key>suffice</key>
	<integer>1</integer>
	<key>summit</key>
	<integer>4</integer>
	<key>supernatural</key>
	<integer>1</integer>
	<key>superstructure</key>
	<integer>0</integer>
	<key>supreme</key>
	<integer>4</integer>
	<key>susceptible</key>
	<integer>1</integer>
	<key>sustenance</key>
	<integer>0</integer>
	<key>swoop</key>
	<integer>1</integer>
	<key>tableland</key>
	<integer>0</integer>
	<key>taboo</key>
	<integer>1</integer>
	<key>tadpole</key>
	<integer>0</integer>
	<key>tame</key>
	<integer>1</integer>
	<key>tangible</key>
	<integer>1</integer>
	<key>tariff</key>
	<integer>2</integer>
	<key>technique</key>
	<integer>4</integer>
	<key>tempo</key>
	<integer>1</integer>
	<key>tenant</key>
	<integer>2</integer>
	<key>termite</key>
	<integer>0</integer>
	<key>terrace</key>
	<integer>2</integer>
	<key>terrestrial</key>
	<integer>1</integer>
	<key>tether</key>
	<integer>1</integer>
	<key>the Alps</key>
	<integer>0</integer>
	<key>theoretical</key>
	<integer>2</integer>
	<key>thermodynamics</key>
	<integer>0</integer>
	<key>thither</key>
	<integer>0</integer>
	<key>thrive</key>
	<integer>2</integer>
	<key>throng</key>
	<integer>1</integer>
	<key>ticklish</key>
	<integer>0</integer>
	<key>tipster</key>
	<integer>0</integer>
	<key>tissue</key>
	<integer>3</integer>
	<key>topography</key>
	<integer>0</integer>
	<key>torrent</key>
	<integer>1</integer>
	<key>tough</key>
	<integer>4</integer>
	<key>toxic</key>
	<integer>2</integer>
	<key>transmit</key>
	<integer>2</integer>
	<key>transverse</key>
	<integer>0</integer>
	<key>tremor</key>
	<integer>1</integer>
	<key>tribal</key>
	<integer>2</integer>
	<key>tribe</key>
	<integer>2</integer>
	<key>trickle</key>
	<integer>1</integer>
	<key>trifling</key>
	<integer>0</integer>
	<key>triple</key>
	<integer>2</integer>
	<key>trivial</key>
	<integer>1</integer>
	<key>trough</key>
	<integer>1</integer>
	<key>turbulent</key>
	<integer>1</integer>
	<key>tussle</key>
	<integer>1</integer>
	<key>twofold</key>
	<integer>0</integer>
	<key>unconscious</key>
	<integer>2</integer>
	<key>undeclared</key>
	<integer>0</integer>
	<key>undeniable</key>
	<integer>1</integer>
	<key>undercurrent</key>
	<integer>1</integer>
	<key>underline</key>
	<integer>2</integer>
	<key>undue</key>
	<integer>1</integer>
	<key>undulate</key>
	<integer>1</integer>
	<key>unduly</key>
	<integer>1</integer>
	<key>uniquely</key>
	<integer>0</integer>
	<key>unreasoning</key>
	<integer>0</integer>
	<key>unutterable</key>
	<integer>0</integer>
	<key>utilitarian</key>
	<integer>1</integer>
	<key>utter</key>
	<integer>2</integer>
	<key>vanished</key>
	<integer>0</integer>
	<key>variant</key>
	<integer>1</integer>
	<key>venom</key>
	<integer>1</integer>
	<key>venture</key>
	<integer>3</integer>
	<key>vernacular</key>
	<integer>0</integer>
	<key>vertebrate</key>
	<integer>0</integer>
	<key>vertical</key>
	<integer>2</integer>
	<key>vicious</key>
	<integer>2</integer>
	<key>victorian</key>
	<integer>2</integer>
	<key>vie</key>
	<integer>1</integer>
	<key>viper</key>
	<integer>0</integer>
	<key>viperine</key>
	<integer>0</integer>
	<key>virtual</key>
	<integer>2</integer>
	<key>virus</key>
	<integer>3</integer>
	<key>visualize</key>
	<integer>2</integer>
	<key>vitality</key>
	<integer>1</integer>
	<key>vivify</key>
	<integer>0</integer>
	<key>vole</key>
	<integer>0</integer>
	<key>vulgar</key>
	<integer>1</integer>
	<key>vulnerable</key>
	<integer>3</integer>
	<key>wandering</key>
	<integer>0</integer>
	<key>waterlogged</key>
	<integer>0</integer>
	<key>weariness</key>
	<integer>0</integer>
	<key>whimsical</key>
	<integer>1</integer>
	<key>winkle</key>
	<integer>0</integer>
	<key>workstation</key>
	<integer>1</integer>
	<key>wreck</key>
	<integer>2</integer>
	<key>wriggle</key>
	<integer>1</integer>
	<key>yeast</key>
	<integer>0</integer>
	<key>zoomorphic</key>
	<integer>0</integer>
</dict>
</plist>
